<%= turbo_stream.after 'order' do %>
    <h4>New Order</h4>
    <%= fields_for @submission do |ff| %>
        <%= ff.fields_for :order, @order do |ffo| %>
            <%= render partial: 'orders/form', locals: { f: ffo } %>
        <% end %>
    <% end %>

<% end %>