.lg-bottom-margin {
    margin-bottom: 3rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.md-gap {
    gap: 2rem;
}

.align-center {
    align-items: center;
}

.align-base {
    align-items: baseline;
}