.xl-top-margin {
    margin-top: 5rem;
}

.xl-bottom-margin {
    margin-bottom: 5rem;
}
.lg-bottom-margin {
    margin-bottom: 3rem;
}

.lg-top-margin {
    margin-top: 3rem;
}

.sm-bottom-margin {
    margin-bottom: 1rem;
}

.xs-right-margin {
    margin-right: 0.5rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.md-gap {
    gap: 2rem;
}

.align-center {
    align-items: center;
}

.align-base {
    align-items: baseline;
}

.justify-center {
    justify-content: center;
}