.submission-card {
    border: 2px lightgray solid;
    border-radius: 5%;
    max-width: 300px;
    max-height: 600px;
    overflow: hidden;
    background-color: white;

    .image {
        height: auto;
    }

    .info {
        padding: 2rem;
        .about {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

.gray-background {
    padding: 2rem;
    border-radius: 12px;
    background-color: lightblue;
}

// .card {
//     width: 18rem;
//     height: 600px;
// }

// .card-text{
//     overflow: hidden;
//     white-space: nowrap;
//     text-overflow: ellipsis;
// }

.id-number {
    position: absolute;
    width: fit-content;
    margin: 0.25rem;
}